<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th>縣市名稱</th>
      <th>學校名稱</th>
      <th>科系名稱</th>
      <th>男生計</th>
      <th>女生計</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>19 臺中市</td>
      <td>國立中興大學</td>
      <td>資訊管理學系</td>
      <td>89</td>
      <td>42</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>國立中興大學</td>
      <td>資訊工程學系</td>
      <td>106</td>
      <td>33</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>國立中興大學</td>
      <td>電機資訊學院學士班</td>
      <td>101</td>
      <td>25</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>國立臺中教育大學</td>
      <td>資訊工程學系</td>
      <td>136</td>
      <td>66</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>國立臺灣體育運動大學</td>
      <td>運動資訊與傳播學系</td>
      <td>92</td>
      <td>107</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>國立臺中科技大學</td>
      <td>語文學院_應用資訊日語技優領航專班</td>
      <td>11</td>
      <td>34</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>國立臺中科技大學</td>
      <td>會計資訊系</td>
      <td>119</td>
      <td>228</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>國立臺中科技大學</td>
      <td>資訊管理系</td>
      <td>121</td>
      <td>103</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>國立臺中科技大學</td>
      <td>資訊管理系_資訊管理系技優領航專班</td>
      <td>14</td>
      <td>11</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>國立臺中科技大學</td>
      <td>資訊工程系</td>
      <td>314</td>
      <td>63</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>東海大學</td>
      <td>資訊工程學系</td>
      <td>460</td>
      <td>154</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>東海大學</td>
      <td>資訊管理學系</td>
      <td>162</td>
      <td>116</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>東海大學</td>
      <td>工業工程與經營資訊學系</td>
      <td>231</td>
      <td>152</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>逢甲大學</td>
      <td>澳洲蒙納許大學資訊工程雙學士學位學程</td>
      <td>8</td>
      <td>2</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>逢甲大學</td>
      <td>美國加州舊金山州立大學資訊工程雙學士學位學程</td>
      <td>44</td>
      <td>15</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>逢甲大學</td>
      <td>資訊工程學系</td>
      <td>751</td>
      <td>247</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>逢甲大學</td>
      <td>資訊電機學院學士班</td>
      <td>97</td>
      <td>19</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>逢甲大學</td>
      <td>美國普渡大學電機資訊雙學士學位學程</td>
      <td>62</td>
      <td>17</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>逢甲大學</td>
      <td>都市計畫與空間資訊學系</td>
      <td>192</td>
      <td>186</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>中山醫學大學</td>
      <td>醫學資訊學系</td>
      <td>81</td>
      <td>87</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>嶺東科技大學</td>
      <td>會計資訊系</td>
      <td>29</td>
      <td>60</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>嶺東科技大學</td>
      <td>資訊管理系</td>
      <td>179</td>
      <td>119</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>嶺東科技大學</td>
      <td>資訊科技系</td>
      <td>450</td>
      <td>54</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>中臺科技大學</td>
      <td>資訊管理系</td>
      <td>124</td>
      <td>33</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>僑光科技大學</td>
      <td>資訊科技系_資通訊製造國際學生產學合作專班</td>
      <td>15</td>
      <td>16</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>僑光科技大學</td>
      <td>資訊科技系</td>
      <td>261</td>
      <td>71</td>
    </tr>
    <tr>
      <td>19 臺中市</td>
      <td>僑光科技大學</td>
      <td>資訊科技系_國際學生產學合作專班</td>
      <td>29</td>
      <td>35</td>
    </tr>
  </tbody>
</table>