<table border=1>
<tr><th>學生姓名</th><th>國文</th><th>英文</th><th>數學</th><th>總分</th></tr>
<tr><td>駱俊翔</td><td>13</td><td>32</td><td>52</td><td>97</td></tr>
<tr><td>陳佳玲</td><td>43</td><td>22</td><td>55</td><td>120</td></tr>
<tr><td>鄭志丹</td><td>18</td><td>95</td><td>55</td><td>168</td></tr>
<tr><td>鄭淑玲</td><td>13</td><td>5</td><td>85</td><td>103</td></tr>
<tr><td>藍婉菁</td><td>59</td><td>25</td><td>43</td><td>127</td></tr>
<tr><td>李仰夫</td><td>69</td><td>16</td><td>14</td><td>99</td></tr>
<tr><td>王美華</td><td>64</td><td>15</td><td>70</td><td>149</td></tr>
<tr><td>霍秀蓉</td><td>28</td><td>66</td><td>90</td><td>184</td></tr>
<tr><td>陳建佑</td><td>42</td><td>51</td><td>71</td><td>164</td></tr>
<tr><td>林俊賢</td><td>5</td><td>69</td><td>91</td><td>165</td></tr>
<tr><td>馮惠雯</td><td>79</td><td>82</td><td>52</td><td>213</td></tr>
</table>