<a href='http://www.ntu.edu.tw' target='_blank'>國立臺灣大學</a> <br>
[106]臺北市大安區羅斯福路四段1號 <hr>
<a href='http://www.ntnu.edu.tw' target='_blank'>國立臺灣師範大學</a> <br>
[106]臺北市大安區和平東路一段162號 <hr>
<a href='http://new.ntpu.edu.tw/' target='_blank'>國立臺北大學</a> <br>
[237]新北市三峽區大學路151號 <hr>
<a href='http://www.ntust.edu.tw' target='_blank'>國立臺灣科技大學</a> <br>
[106]臺北市大安區基隆路四段43號 <hr>
<a href='http://www.ntut.edu.tw' target='_blank'>國立臺北科技大學</a> <br>
[106]臺北市大安區忠孝東路三段1號 <hr>
<a href='http://www.ntua.edu.tw' target='_blank'>國立臺灣藝術大學</a> <br>
[220]新北市板橋區大觀路一段59號 <hr>
<a href='http://www.ntue.edu.tw' target='_blank'>國立臺北教育大學</a> <br>
[106]臺北市大安區和平東路二段134號 <hr>
<a href='http://www.fju.edu.tw' target='_blank'>輔仁大學</a> <br>
[242]新北市新莊區中正路510號 <hr>
<a href='http://www.tku.edu.tw' target='_blank'>淡江大學</a> <br>
[251]新北市淡水區英專路151號 <hr>
<a href='http://www.hfu.edu.tw' target='_blank'>華梵大學</a> <br>
[223]新北市石碇區華梵路1號 <hr>
<a href='http://www.au.edu.tw' target='_blank'>真理大學</a> <br>
[251]新北市淡水區真理街32號 <hr>
<a href='http://www.mcut.edu.tw/' target='_blank'>明志科技大學</a> <br>
[243]新北市泰山區貴子里工專路84號 <hr>
<a href='https://www.sju.edu.tw/' target='_blank'>聖約翰科技大學</a> <br>
[251]新北市淡水區淡金路四段499號 <hr>
<a href='http://www.just.edu.tw/' target='_blank'>景文科技大學</a> <br>
[231]新北市新店區安忠路99號 <hr>
<a href='http://www.tnu.edu.tw/' target='_blank'>東南科技大學</a> <br>
[222]新北市深坑區北深路三段152號 <hr>
<a href='http://www.hwu.edu.tw' target='_blank'>醒吾科技大學</a> <br>
[244]新北市林口區粉寮路一段101號 <hr>
<a href='http://www.hwh.edu.tw' target='_blank'>華夏科技大學</a> <br>
[235]新北市中和區工專路111號 <hr>
<a href='http://www.chihlee.edu.tw' target='_blank'>致理科技大學</a> <br>
[220]新北市板橋區文化路一段313號 <hr>
<a href='http://www.hdut.edu.tw/' target='_blank'>宏國德霖科技大學</a> <br>
[236]新北市土城區青雲路380巷1號 <hr>
<a href='http://www.tumt.edu.tw/app/home.php' target='_blank'>台北海洋科技大學</a> <br>
[251]新北市淡水區濱海路三段150號 <hr>
<a href='https://www.aeust.edu.tw/' target='_blank'>亞東科技大學</a> <br>
[220]新北市板橋區四川路二段58號 <hr>
<a href='http://www.lit.edu.tw' target='_blank'>黎明技術學院</a> <br>
[243]新北市泰山區泰林路三段22號 <hr>
<a href='http://www.mmc.edu.tw' target='_blank'>馬偕醫學院</a> <br>
[252]新北市三芝區中正路三段46號 <hr>
<a href='http://www.dila.edu.tw/' target='_blank'>法鼓文理學院</a> <br>
[208]新北市金山區西湖里法鼓路700號 <hr>
<a href='http://www.ctcn.edu.tw' target='_blank'>耕莘健康管理專科學校</a> <br>
[231]新北市新店區民族路112號 <hr>
