<a href='http://www.ntu.edu.tw' target='_blank'>國立臺灣大學</a> <br>
[106]臺北市大安區羅斯福路四段1號 <hr>
<a href='http://www.ntnu.edu.tw' target='_blank'>國立臺灣師範大學</a> <br>
[106]臺北市大安區和平東路一段162號 <hr>
<a href='http://www.ntust.edu.tw' target='_blank'>國立臺灣科技大學</a> <br>
[106]臺北市大安區基隆路四段43號 <hr>
<a href='http://www.ntut.edu.tw' target='_blank'>國立臺北科技大學</a> <br>
[106]臺北市大安區忠孝東路三段1號 <hr>
<a href='http://www.ntue.edu.tw' target='_blank'>國立臺北教育大學</a> <br>
[106]臺北市大安區和平東路二段134號 <hr>
